@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@mixin flexDisplay($dir:row){
    display: flex;
    flex-direction: $dir;
}

// GLOBAL STYLING
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 90vh;
    width: 100%;
}


// BACKGROUND 
.bg > img {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    filter: brightness(0.2);
}

#main-content {
    position: relative;
    background-color: transparent;
    height: 100%;
    margin: 50px;
    @include flexDisplay(column);
    justify-content: space-between;

    @media only screen and (max-width:400px) {
        margin: 50px 25px;
    }

}


// HEADER 
.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {

        display: flex;
        align-items: center;

        img {
            height: 75px;

            @media screen and (max-width:500px) {
                height: 50px;
            }
        }
        
        span {
            font-size: 36px;
            font-weight: bold;

            @media screen and (max-width:500px) {
                font-size: 25px;
            }

            @media screen and (max-width:400px) {
                font-size: 15px;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        span {
            &:nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}

// CONTENT
.content {
    @include flexDisplay();
    justify-content: space-around;
    padding: 100px 0;
    align-items: center;
    gap: 15px;

    @media only screen and (max-width:768px) {
        justify-content: center;
    }

    &__left {

        &__upper {
            @include flexDisplay(column);
            margin-bottom: 15px;
            span {
                font-size: 60px;
                font-weight: bold;

                @media only screen and (max-width:768px) {
                    font-size: 40px;
                }
            }
            
        }
        
        &__lower {
            @include flexDisplay(column);
            padding-left: 85px;
            span {
                font-size: 35px;
                color: gray;

                @media only screen and (max-width:768px) {
                    font-size: 15px;
                }
                
                &:nth-child(1) {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 50px;
                        background-color: red;
                        top: 25px;
                        left: -65px;
                    }
                }
            }
        }
    }

    &__right {

        @media only screen and (max-width:768px){
            display: none;
        }

        ul {
            li {        

                &:nth-child(odd) {
                    &::marker {
                        color: red;
                    }
                }

                &:nth-child(even) {
                    list-style: none;
                    font-size: 12px;
                    margin-bottom: 15px;
                }
            }
        }

    }
}

// FOOTER 

.footer {
    @include flexDisplay();
    justify-content: space-between;

    &__left {
        ul {
            @include flexDisplay();

            @media only screen and (max-width:768px) {
                flex-direction: column;
                gap: 25px;
            }
            
            li {
                list-style: none;
                margin-right: 25px;
                
                &:nth-child(1) {
                    font-weight: bold;
                    margin-right: 100px;

                    @media only screen and (max-width:768px) {
                        clear: right;
                    }
                }
            }
        }
    }

    &__right {
        @include flexDisplay();
        align-items: center;


        @media screen and (max-width:500px) {
            flex-direction: column;
            align-items: initial;
            justify-content: space-around;
        }

        span {
            &:nth-child(2) {
                display: inline-block;
                height: 50px;
                width: 50px;
                background-color: white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 15px;

                i {
                    color: black;
                }
            }
        }
    }

}

